* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	background: #fff url(https://cdn.zhaolinlang.com/cdn.dnpw.org/404/v3/res/bg.webp) no-repeat center/cover fixed;
	color: #000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
}

a {
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

p {
	margin: 0 0 10px;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.well {
	margin-bottom: 0;
	max-width: 700px;
	margin: auto;
}

h1 {
	text-align: center;
	margin: 10px;
	border-bottom: 1px solid #d0cccc;
	padding-bottom: 10px;
}

#sys-tab {
	padding: 0 10px;
	max-height: calc(100vh - 500px);
	overflow: auto;
}

#sys-tab .tab-pane:not(.tip) {
	min-height: 200px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.container:before,
.container:after,
.row:before,
.row:after {
	display: table;
	content: " ";
}

.container:after,
.row:after {
	clear: both;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.cdiv {
	background: #f0f8e5;
	line-height: 1;
	padding: 10px 10px 5px 10px;
	border-left: 3px solid #86cc00;
	margin-bottom: 10px;
}

.div {
	background: #f0f8e5;
	line-height: 1;
	padding: 10px;
}

.red {
	border-left: 3px solid #FF0000;
}

.green {
	border-left: 3px solid #86cc00;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav>li {
	position: relative;
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav>li>a:hover,
.nav>li>a:focus {
	text-decoration: none;
	background-color: #eee;
}

.nav>li.disabled>a {
	color: #777;
}

.nav>li.disabled>a:hover,
.nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

.nav-tabs>li>a:hover {
	border-color: #eee #eee #ddd;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.tab-content {
	width: 100%;
}

/* .tab-content>.tab-pane {
	display: none;
} */

.tab-content>.active {
	display: block;
}

.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 4px 0 0;
	margin-top: 1px;
	line-height: normal;
}

input[type="radio"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}

.radio+.radio,
.checkbox+.checkbox {
	margin-top: -5px;
}

h4 {
	text-align: center;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
}

button {
	margin: 0;
	font: inherit;
	color: inherit;
	overflow: visible;
	text-transform: none;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}

.btn:active,
.btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

a.btn.disabled,
fieldset[disabled] a.btn {
	pointer-events: none;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.btn-success:focus,
.btn-success.focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
}

.btn-success:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-success:active,
.btn-success.active {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.btn-success:active.focus,
.btn-success.active.focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}

.btn-success:active,
.btn-success.active {
	background-image: none;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-block+.btn-block {
	margin-top: 5px;
}