*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	background: #fff url('https://cdn.zhaolinlang.com/cdn.dnpw.org/404/v3/res/bg.webp') no-repeat center/cover fixed;
	color: #000000;
	font-size: 14px;
	line-height: 1.42857143;
}

a {
	color: #337ab7;
	text-decoration: none;
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

p {
	margin: 0 0 10px;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	border-bottom: 1px solid #d0cccc;
	padding-bottom: 10px;
}

h3 {
	text-align: center;
	margin: 10px auto;
}

button {
	margin: 0;
	font: inherit;
	color: inherit;
	overflow: visible;
	text-transform: none;
	font-size: inherit;
	line-height: inherit;
}

#sys-tab {
	padding: 0 10px;
	max-height: calc(100vh - 500px);
	overflow: auto;
}

.container {
	min-height: 20px;
	padding: 15px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	max-width: 700px;
	margin: auto;

}

.container:before,
.container:after {
	display: table;
	content: " ";
}

.container:after {
	clear: both;
}

.cdiv {
	background: #f0f8e5;
	line-height: 1;
	padding: 10px;
	border-left: 3px solid #86cc00;
}

.div {
	line-height: 1.5;
	padding: 10px;
}

.red {
	border-left: 3px solid #FF0000;
	background: #ffebf0;
	border-top: 1px solid #d0cccc;
}

.green {
	border-left: 3px solid #86cc00;
	background: #f0f8e5;
	border-bottom: 1px solid #d0cccc;
}

#nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	border-bottom: 1px solid #ddd;
}

#nav>li {
	position: relative;
	display: block;
	float: left;
	margin-bottom: -1px;
}

#nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}

#nav>li>a:hover {
	border-color: #eee #eee #ddd;
}

#nav>li>a:hover,
#nav>li>a:focus {
	text-decoration: none;
	background-color: #eee;
}

#nav>li.disabled>a {
	color: #777;
}

#nav>li.disabled>a:hover,
#nav>li.disabled>a:focus {
	color: #777;
	text-decoration: none;
	cursor: not-allowed;
	background-color: transparent;
}

#nav>li.active>a,
#nav>li.active>a:hover,
#nav>li.active>a:focus {
	color: #555;
	cursor: default;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom-color: transparent;
}

.tab-content {
	width: 100%;
}

.radio,
.checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 4px 0 0;
	margin-top: 1px;
	line-height: normal;
}

input[type="radio"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.radio label,
.checkbox label {
	min-height: 20px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
	position: absolute;
	margin-top: 4px \9;
	margin-left: -20px;
}

.radio+.radio,
.checkbox+.checkbox {
	margin-top: -5px;
}

.btn {
	padding: 6px 12px;
	margin: 10px auto;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	display: block;
	width: 100%;
}

.btn+.btn {
	margin-top: 5px;
}

.btn:focus {
	color: #fff;
	background-color: #449d44;
	border-color: #255625;
}

.btn:focus,
.btn:active:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn:hover {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn:hover,
.btn:focus,
.btn.focus {
	color: #333;
	text-decoration: none;
}

.btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}

.btn:active:hover,
.btn:active:focus {
	color: #fff;
	background-color: #398439;
	border-color: #255625;
}

.btn[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity=65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

/* 移动端适配 */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}